.about{background:#202020;padding-top:30px;padding-bottom:66px;margin-bottom:70px}.about__h2{font-family:"TT",sans-serif;font-size:24px;font-weight:700;line-height:31px;color:#fff;margin-bottom:3px}.about__content{gap:30px}.about__content-left{flex-direction:column}.about__content-left-p{min-width:630px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:28px;color:#cacaca;letter-spacing:0%}.about__content-right{flex-direction:column}.about__content-right img{max-width:630px;max-height:255px;margin-bottom:25px}.about__content-right .about__seller{flex-direction:column}.about__content-right .about__seller-h3{margin-bottom:16px;font-family:"TT",sans-serif;font-size:24px;font-weight:400;line-height:22px;color:#fff}.about__content-right .about__seller-touch{gap:30px}.about__content-right .about__seller-touch ::-moz-placeholder{font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:19px;color:#cacaca;-moz-transition:all .3s;transition:all .3s}.about__content-right .about__seller-touch ::placeholder{font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:19px;color:#cacaca;transition:all .3s}.about__content-right .about__seller-touch-input{padding-left:23px;padding-top:15px;padding-bottom:15px;background-color:#4a4a4a;min-width:450px;transition:all .3s;outline:0;border:0}.about__content-right .about__seller-touch-input:focus{border:0;outline:0;outline:1px solid #ff6e30}.about__content-right .about__seller-touch-input:hover::-moz-placeholder{color:#ff6e30}.about__content-right .about__seller-touch-input:hover::placeholder{color:#ff6e30}.about__content-right .about__seller-touch-input:active{outline:0;border:0}.about__content-right .about__seller-touch-btn{display:flex;justify-content:center;align-items:center;padding:15px 22px 15px 22px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:700;line-height:19px;color:#fff;outline:1px solid #ff6e30;background-color:#ff6e30;transition:all .3s}.about__content-right .about__seller-touch-btn:focus{border:0;outline:3px solid #ce4307;background:#bc572b}.about__content-right .about__seller-touch-btn:hover{background-color:#bc572b}.about__content-right .about__seller-touch-btn:active{background-color:#ce4307}@media(max-width: 1024px){.about{margin-bottom:68px;padding-bottom:81px}.about__content-left p{min-width:466px}.about__content-right img{margin-bottom:20px;max-width:466px;max-height:100%;min-height:332px}.about__content-right .about__seller-touch{flex-direction:column;max-width:124px;gap:22px}.about__content-right .about__seller-touch-input{min-width:316px}}@media(max-width: 768px){.about{padding-bottom:65px}.about__content-left{max-width:50%}.about__content-left p{min-width:342px}.about__content-right{max-width:50%}.about__content-right img{margin-bottom:0}.about__content-right picture{min-height:569px;margin-bottom:24px}}
@font-face{font-family:"Roboto";src:url(../Fonts/RobotoR.woff2) format(woff2);font-weight:400}@font-face{font-family:"Roboto";src:url(../Fonts/RobotoB.woff2) format(woff2);font-weight:800}@font-face{font-family:"TT";src:url(../Fonts/TTR.woff2) format(woff2);font-weight:400}@font-face{font-family:"TT";src:url(../Fonts/TTB.woff2) format(woff2);font-weight:800}.container{max-width:1290px;margin:0 auto}.flex{display:flex}.grid{display:grid}body{font-family:"Roboto",sans-serif}button:hover,a:hover{cursor:pointer}
.contacts{margin-bottom:70px}.contacts__h2{margin-bottom:22px;font-family:"TT",sans-serif;font-size:24px;font-weight:700;line-height:31px;color:#202020}.contacts__wrapper{gap:30px}.contacts__wrapper-left{position:relative;background-repeat:no-repeat;background-image:url(../img/map.jpeg);min-height:460px;min-width:850px}.contacts__wrapper-left-content{position:relative;max-width:350px;padding:175px 0 150px 60px;flex-direction:column;background:rgba(32,32,32,.85)}.contacts__wrapper-left-content h2{margin-bottom:5px;font-family:"TT",sans-serif;font-size:24px;font-weight:400;line-height:22px;color:#fff}.contacts__wrapper-left-content p{max-width:300px;margin-bottom:3px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:28px;color:#cacaca}.contacts__wrapper-left-content button{position:absolute;top:21px;right:20px;max-width:-moz-max-content;max-width:max-content}.contacts__wrapper-right form{position:relative}.contacts__wrapper-right form h3{position:absolute;top:-6px}.contacts__wrapper-right form p{max-width:409px;padding-top:20px}.content__phone{align-items:center;gap:5px}.content__phone-span{font-family:"TT",sans-serif;font-size:16px;font-weight:400;line-height:21px;color:#ff6e30}.form{max-width:410px;align-items:flex-start;flex-direction:column;height:100%}.form__h3{font-family:"TT",sans-serif;font-size:24px;font-weight:400;line-height:22px;color:#202020}.form__p{font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:22px;color:#999;margin-bottom:15px}.form__fieldset-input{display:flex;flex-direction:column;gap:10px}.form__input{min-width:385px;min-height:50px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:19px;color:#999;background:#e9e9e9;border:0;outline:0;padding-left:23px}.form__input:focus{border:0;outline:0;outline:1px solid #ff6e30}.form__input:hover::-moz-placeholder{color:#ff6e30}.form__input:hover::placeholder{color:#ff6e30}.form__textarea{min-width:385px;min-height:50px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:19px;color:#999;background:#e9e9e9;border:0;outline:0;padding-left:23px;padding-top:15px;min-height:150px}.form__textarea:focus{border:0;outline:0;outline:1px solid #ff6e30}.form__textarea:hover::-moz-placeholder{color:#ff6e30}.form__textarea:hover::placeholder{color:#ff6e30}.form__button{display:flex;justify-content:center;align-items:center;padding:15px 22px 15px 22px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:700;line-height:19px;color:#fff;outline:1px solid #ff6e30;background-color:#ff6e30;transition:all .3s}.form__button:focus{border:0;outline:3px solid #ce4307;background:#bc572b}.form__button:hover{background-color:#bc572b}.form__button:active{background-color:#ce4307}@media(max-width: 1024px){.contacts__wrapper-left{position:relative;min-width:590px;background-image:url(../img/map-1024.jpeg)}.contacts__wrapper-left-content{position:relative;max-width:none;position:absolute;bottom:1px;padding:25px 267px 21px 30px}.contacts__wrapper-left-content h2{margin-bottom:0}.contacts__wrapper-left-content p{line-height:28px}.content__phone{bottom:24px;left:180px;position:absolute}.form{padding-right:25px;max-width:342px}.form__input,.form__textarea{min-width:0;width:100%}.form__textarea{min-height:138px}}@media(max-width: 768px){.contacts__wrapper{flex-direction:column;min-width:100%}.contacts__wrapper-left{min-width:100%;background-image:url(../img/map-768.jpeg)}.contacts__wrapper-left-content{padding-right:0;padding-bottom:43px;min-width:436px;padding-right:248px}.contacts__wrapper-left-content h2{margin-bottom:5px}.contacts__wrapper-left-content p{max-width:inherit}.contacts__wrapper-left-content div{bottom:20px;left:30px}.contacts__wrapper-right form{padding-right:0;max-width:466px}.contacts__wrapper-right form p{padding-top:23px;max-width:100%;margin-bottom:14px}.contacts__wrapper-right form div{width:100%;display:flex;flex-direction:column;gap:20px}.contacts__wrapper-right form input{max-width:441px;max-height:50px}.contacts__wrapper-right form textarea{max-width:441px}.contacts__wrapper-right form button{max-width:126px}}
.footer{background-color:#202020}.footer__container{min-height:106px;align-items:center;justify-content:space-between}.footer__p{max-width:360px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:22px;color:#cacaca;margin-right:30px;padding-top:7px}.footer__contacts{flex-direction:column;align-items:center;padding-top:3px}.footer__contacts p{font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:22px;color:#cacaca}.footer__logo p{margin-top:5px;font-family:"TT",sans-serif;font-size:14px;font-weight:400;line-height:18px;color:#e9e9e9}.footer__contacts-links{padding-top:10px;gap:20px}.footer__contacts-ok,.footer__contacts-vk{fill:#cacaca;transition:all .3s}.footer__contacts-links-vk{display:inline-block}.footer__contacts-links-vk,.footer__contacts-links-classmates{outline:0}.footer__contacts-links-vk:focus svg{fill:#bc572b}.footer__contacts-links-classmates:focus svg{fill:#bc572b}.footer__contacts-ok:hover,.footer__contacts-vk:hover{fill:#ff6e30}.footer__contacts-ok:active,.footer__contacts-vk:active{fill:#ce4307}@media(max-width: 1024px){.footer__p{margin-right:0;margin-left:62px}}
.header{width:100%;background-color:#202020;margin-bottom:40px}.header__container{min-height:80px;align-items:center;justify-content:space-between}.header__menu-burger{display:none}.menu__ul{gap:80px;margin-right:55px}.menu__ul-li-link{font-family:"TT",sans-serif;font-size:16px;font-weight:400;line-height:21px;color:#fff;transition:all .3s}.menu__ul-li-link:focus{padding:3px;background:#bc572b;color:#fff}.menu__ul-li-link:hover{color:#ff6e30}.menu__ul-li-link:active{color:#ce4307;background:0;padding:0}@media(max-width: 1024px){.container{max-width:963px}.menu__ul{gap:33px;margin-right:50px}.header{margin-bottom:34px}}@media(max-width: 768px){.container{max-width:714px}.header__menu{display:none}.header__menu-burger{display:block;background-color:#4a4a4a}.menu__ul{margin-right:0;padding:12px 27px 12px 27px;gap:72px}}
.hero{margin-bottom:68px}.hero__grid{display:grid;grid-template-columns:repeat(4, 1fr);grid-template-rows:repeat(4, max-content);-moz-column-gap:30px;column-gap:30px;row-gap:25px}.hero__grid-item{background-repeat:no-repeat;-o-object-fit:cover;object-fit:cover;background-size:cover}.hero__grid-item-left{position:relative;background-image:url(../img/hero-back-left.jpeg);grid-column:1/3;grid-row:1/5}.hero__grid-item-left span{position:absolute;right:15px;top:15px;background-color:#202020;padding:7px 15px;font-size:14px;font-weight:400;line-height:16px;letter-spacing:0%;color:#fff}.hero__grid-item-left-content{position:absolute;bottom:60px;left:60px}.hero__grid-item-left-content p{font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:19px;text-align:left;color:#fff;margin-bottom:2px}.hero__grid-item-left-content h1{max-width:430px;margin-bottom:20px;font-family:"TT",sans-serif;font-size:36px;font-weight:700;line-height:104%;text-align:left;color:#fff}.hero__grid-item-left-content button{display:flex;justify-content:center;align-items:center;padding:15px 22px 15px 22px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:700;line-height:19px;color:#fff;outline:1px solid #ff6e30;background-color:#ff6e30;transition:all .3s}.hero__grid-item-left-content button:focus{border:0;outline:3px solid #ce4307;background:#bc572b}.hero__grid-item-left-content button:hover{background-color:#bc572b}.hero__grid-item-left-content button:active{background-color:#ce4307}.hero__grid-item-title{grid-column:3/5;justify-content:center}.hero__grid-item-title h2{padding-right:10px;font-family:"TT",sans-serif;font-size:24px;font-weight:700;color:#202020}.hero__grid-item-first{background-image:url(../img/item-first.jpeg);grid-column:3/5;grid-row:2/4;min-height:300px}.hero__grid-item-second{background-image:url(../img/item-sec.jpeg);grid-column:3/4;min-height:257px}.hero__grid-item-third{background-image:url(../img/item-third.jpeg);grid-column:4/5;min-height:257px}@media(max-width: 1024px){.hero__grid{row-gap:27px}.hero__grid-item-left{background-image:url(../img/hero-back-left-1024.jpeg)}.hero__grid-item-left-content{left:31px;bottom:30px}.hero__grid-item-left-content span{margin-bottom:9px;line-height:32px}.hero__grid-item-left-content p{margin-bottom:9px}.hero__grid-item-left-content h1{font-size:34px}.hero__grid-item-first{min-height:334px;background-image:url(../img/item-first-1024.jpeg)}.hero__grid-item-second{min-height:187px;background-image:url(../img/item-sec-1024.jpeg)}.hero__grid-item-third{min-height:187px;background-image:url(../img/item-third-1024.jpeg)}}@media(max-width: 768px){.hero__grid{grid-template-rows:repeat(2, max-content);-moz-column-gap:30px;column-gap:30px}.hero__grid-item-left{background-image:url(../img/hero-back-left-768.jpeg);grid-row:1/3}.hero__grid-item-left-content{bottom:30px;left:28px}.hero__grid-item-left-content h1{line-height:90%}.hero__grid-item-left-content p{margin-bottom:18px}.hero__grid-item-title{position:absolute;margin-bottom:30px;right:27px}.hero__grid-item-title h2{max-width:342px;padding-right:0;font-size:22px}.hero__grid-item-first{background-image:url(../img/item-first-768.jpeg);grid-row:1;margin-top:65px;min-height:228px}.hero__grid-item-second{background-image:url(../img/item-sec-768.jpeg);min-height:133px}.hero__grid-item-third{background-image:url(../img/item-third-768.jpeg);min-height:133px}}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.projects{margin-bottom:68px}.projects__h2{margin-bottom:12px;font-family:"TT",sans-serif;font-size:24px;font-weight:700;line-height:31px;color:#202020}.projects__grid{display:grid;grid-template-columns:repeat(6, max-content);grid-template-rows:repeat(2, max-content);gap:30px}.projects__grid-item{position:relative;display:flex;flex-direction:column;max-height:300px;background-repeat:no-repeat;max-width:190px}.projects__grid-item-nature{background-image:url("../img/nature.jpeg")}.projects__grid-item-human{background-image:url("../img/human.jpeg")}.projects__grid-item-home{background-image:url("../img/home.jpeg")}.projects__grid-item-eye{background-image:url("../img/yey.jpeg");min-width:630px;max-height:300px;grid-column:4/7;grid-row:1/2}.projects__grid-item-mountain{background-image:url("../img/mountain.jpeg");grid-column:1/4;min-width:630px}.projects__grid-item-fruits{background-image:url("../img/fruits.jpeg");min-width:300px;grid-column:4/6}.projects__grid-item-woman{min-width:300px;background-image:url("../img/woman.jpeg");grid-column:6/7}.article{display:flex;flex-direction:column}.article__span-absolute{position:absolute;top:5px;right:6px;background-color:#202020;padding:7px 14px;font-size:14px;font-weight:400;line-height:16px;letter-spacing:0%;color:#fff}.article__span{font-family:"Roboto",sans-serif;font-size:12px;font-weight:400;line-height:22px;color:#999;padding-left:2px}.article__span-data{align-items:center;gap:5px;font-family:"Roboto",sans-serif;font-size:12px;font-weight:400;line-height:22px;color:#fff}.article__calendar{fill:#fff}.article__h3{width:100%;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;padding-top:202px;margin-bottom:10px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:22px;color:#202020}.article__h2{font-family:"TT",sans-serif;font-size:24px;font-weight:700;line-height:24px;color:#fff;margin-bottom:6px}.article__p{font-family:"Roboto",sans-serif;font-size:16px;font-weight:400;line-height:22px;color:#fff;margin-bottom:54px;width:100%}.article__button{position:absolute;bottom:30px;left:30px;display:flex;justify-content:center;align-items:center;padding:15px 22px 15px 22px;font-family:"Roboto",sans-serif;font-size:16px;font-weight:700;line-height:19px;color:#fff;outline:1px solid #ff6e30;background-color:#ff6e30;transition:all .3s;background:0;outline-width:1px;max-width:-moz-max-content;max-width:max-content}.article__button:focus{border:0;outline:3px solid #ce4307;background:#bc572b}.article__button:hover{background-color:#bc572b}.article__button:active{background-color:#ce4307}.article__big{max-width:291px;padding-top:22px;padding-left:30px}@media(max-width: 1024px){.projects__grid{row-gap:24px;grid-template-rows:repeat(3, max-content);grid-template-columns:repeat(6, max-content)}.projects__grid-item{max-width:218px;min-height:285px}.projects__grid-item-nature{background-image:url(../img/nature-1024.jpeg)}.projects__grid-item-human{background-image:url(../img/human-1024.jpeg)}.projects__grid-item-home{background-image:url(../img/home-1024.jpeg);grid-column:3/6;min-width:466px}.projects__grid-item-eye{background-image:url(../img/yey-1024.jpeg);grid-row:2;grid-column:1/4;min-width:-moz-max-content;min-width:max-content;min-height:307px}.projects__grid-item-mountain{min-height:307px;min-width:590px;margin-left:125px;background-image:url(../img/mountain-1024.jpeg);grid-row:3;grid-column:2/6}.projects__grid-item-fruits{min-width:342px;background-image:url(../img/fruits-1024.jpeg);grid-column:4/5}.projects__grid-item-woman{min-width:342px;background-image:url(../img/woman-1024.jpeg);grid-column:1/4;grid-row:3}.article h3{-webkit-line-clamp:2}.article__span-absolute{position:absolute;top:5px;right:6px;background-color:#202020;padding:7px 14px;font-size:14px;font-weight:400;line-height:16px;letter-spacing:0%;color:#fff;top:6px;right:8px}.article__span{position:absolute;bottom:-2px}.article__big{padding-top:30px;padding-right:268px}}@media(max-width: 768px){.projects__grid{grid-template-rows:repeat(4, max-content);grid-template-columns:repeat(5, max-content);row-gap:28px}.projects__grid-item{min-height:300px}.projects__grid-item-nature{background-image:url(../img/nature-768.jpeg);grid-column:1/2}.projects__grid-item-human{background-image:url(../img/human-768.jpeg);grid-column:2/3}.projects__grid-item-home{background-image:url(../img/home-768.jpeg);grid-column:3/4;min-width:inherit}.projects__grid-item-eye{max-width:inherit;min-height:300px;background-image:url(../img/yey-768.jpeg)}.projects__grid-item-mountain{max-width:714px;background-image:url(../img/mountain-768.jpeg);margin-left:0;grid-row:4;grid-column:1/6}.projects__grid-item-fruits{min-width:342px;background-image:url(../img/fruits-768.jpeg);grid-row:3;grid-column:1/3}.projects__grid-item-woman{margin-left:124px;min-width:342px;background-image:url(../img/woman-768.jpeg);grid-row:3;grid-column:2/6}.article__big{padding-top:33px}.article__h3{max-height:inherit}}
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}
