@use '_common.scss';

.header {
	background-color: common.$blue;
	width: 100%;
	min-height: 100px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 100px;
	}

	&__nav-ul {
		display: flex;
		gap: 25px;
	}
}

.nav__list-link {
	display: block;
	@include common.Button-white();
	transition: all 0.5s;
}

.nav__list-link:hover {
	@include common.Button-hover();
}

.nav__list-link:active {
	@include common.Button-active();
}

.current-page {
	@include common.Button-disable();
}
