@use "_tips" as *;
@use "_mixin" as *;

.contacts {
  margin-bottom: 67px;

  &__h2 {
    margin-bottom: 22px;
    font-family: $TT;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: rgb(32, 32, 32);
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-left {
      position: relative;
      background-repeat: no-repeat;
      background-image: url(../img/map.jpeg);
      min-height: 460px;
      min-width: 850px;

      &-content {
        position: relative;
        max-width: 350px;
        padding: 175px 0 150px 60px;
        flex-direction: column;
        background: rgba(32, 32, 32, 0.85);

        h2 {
          margin-bottom: 5px;
          font-family: $TT;
          font-size: 24px;
          font-weight: 400;
          line-height: 22px;
          color: rgb(255, 255, 255);
        }

        p {
          max-width: 300px;
          margin-bottom: 3px;
          font-family: $Roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          color: rgb(202, 202, 202);
        }

        button {
          position: absolute;
          top: 21px;
          right: 20px;
          max-width: max-content;
        }
      }
    }

    &-right {
      form {
        position: relative;
        h3 {
          position: absolute;
          top: -6px;
        }
        p {
          max-width: 409px;
          padding-top: 20px;
        }
      }
    }
  }
}

.content__phone {
  align-items: center;
  gap: 5px;

  &-span {
    font-family: $TT;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(255, 110, 48);
  }
}

.form {
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__h3 {
    font-family: $TT;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(32, 32, 32);
  }

  &__p {
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(153, 153, 153);
    margin-bottom: 12px;
  }

  &__fieldset-input {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }

  &__input {
    @include formInput();
  }

  &__input:focus {
    @include input-focus();
  }

  &__input:hover::placeholder {
    color: $orange;
  }

  &__textarea {
    @include formInput();
    padding-top: 18px;
    min-height: 132px;
  }

  &__textarea:focus {
    @include input-focus();
  }

  &__textarea:hover::placeholder {
    color: $orange;
  }

  &__button {
    @include button();
  }

  &__button:focus {
    @include button-focus();
  }

  &__button:hover {
    @include button-hover();
  }

  &__button:active {
    @include button-active();
  }
}

@media (max-width: 1300px) {
  .contacts {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__wrapper-left {
      position: relative;
      min-width: 590px;
      background-image: url(../img/map-1024.jpeg);

      &-content {
        position: relative;
        max-width: none;
        position: absolute;
        bottom: 1px;
        padding: 25px 267px 21px 30px;

        h2 {
          margin-bottom: 0;
        }

        p {
          line-height: 28px;
        }
      }
    }
  }

  .content__phone {
    bottom: 24px;
    left: 180px;
    position: absolute;
  }

  .form {
    max-width: 342px;
    &__input,
    &__textarea {
      min-width: 0;
      width: 100%;
    }

    &__textarea {
      min-height: 138px;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    margin-bottom: 69px;
    &__wrapper {
      flex-direction: column;
      min-width: 100%;
      &-left {
        width: 100%;
        min-height: 463px;
        background-image: url(../img/map-768.jpeg);

        &-content {
          width: 95%;
          padding-right: 0;
          padding-bottom: 43px;
          padding-right: 0px;
          padding-top: 28px;

          h2 {
            max-width: max-content;
            margin-bottom: 5px;
          }

          div {
            bottom: 20px;
            left: 30px;
          }
        }
      }
      &-right {
        form {
          padding-right: 0;
          max-width: 466px;

          p {
            padding-top: 23px;
            max-width: 100%;
          }

          div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 18px;
          }
          input {
            max-width: 441px;
            max-height: 50px;
          }
          textarea {
            max-width: 441px;
            min-height: 131px;
          }
          button {
            max-width: 126px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }

  .contacts {
    margin-bottom: 51px;
    position: relative;
    &__h2 {
      font-size: 18px;
      line-height: 23px;
    }
    &__wrapper-left {
      min-height: 473px;
      min-width: 100%;
      position: absolute;
      top: 37px;
      left: 0;
      background-image: url(../img/map-320.svg);
    }

    .content {
      padding-top: 27px;
      padding-left: 20px;
      padding-right: 50px;
      padding-bottom: 41px;
      min-width: 0;

      &__h2 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 22px;
      }

      &__p {
        max-width: 257px;

        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
      }

      &__phone {
        left: 20px;
        bottom: 15px;

        &-span {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    &__wrapper-right {
      padding-top: 495px;
    }

    .form {
      &__h3 {
        font-size: 18px;
        line-height: 22px;
      }

      ::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }

      &__fieldset-input {
        max-width: 255px;
      }

      &__input {
        min-height: 40px;
      }

      &__textarea {
        padding-top: 15px;
        min-height: 135px;
      }

      &__p {
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-top: 22px;
      }

      &__button {
        padding: 0;
        width: 115px;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
      }
    }
  }
}
