@import "_tips.scss";
@import "_mixin.scss";

.footer {
  background-color: $blackColor;

  &__container {
    min-height: 106px;
    align-items: center;
    justify-content: space-between;
  }

  &__p {
    max-width: 360px;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(202, 202, 202);
    margin-right: 30px;
    padding-top: 7px;
  }

  &__contacts {
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    p {
      font-family: $Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: rgb(202, 202, 202);
    }
  }
}

.footer__logo {
  &-descr {
    margin-top: 5px;
    font-family: $TT;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(233, 233, 233);
  }
}

.footer__contacts-links {
  padding-top: 10px;
  gap: 20px;
}

.footer__contacts-ok,
.footer__contacts-vk {
  fill: #cacaca;
  transition: all 0.3s;
}

.footer__contacts-links-vk {
  display: inline-block;
}

.footer__contacts-links-vk,
.footer__contacts-links-classmates {
  outline: 0;
}

.footer__contacts-links-vk:focus svg {
  @include social-focus();
}

.footer__contacts-links-classmates:focus svg {
  @include social-focus();
}

.footer__contacts-ok:hover,
.footer__contacts-vk:hover {
  @include social-hover();
}

.footer__contacts-ok:active,
.footer__contacts-vk:active {
  @include social-active();
}

@media (max-width: 1024px) {
  .footer {
    &__p {
      margin-right: 0;
      margin-left: 62px;
    }
    &__contacts {
      gap: 10px;

      &-links {
        padding-top: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__p {
      display: none;
    }
  }
}

@media (max-width: 320px) {
  .footer {
    &__container {
      padding-top: 27px;
      flex-direction: column-reverse;
      gap: 28px;
    }

    &__logo-wrapper {
      min-width: 320px;
      padding-bottom: 14px;
      padding-top: 15px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      background-color: #4a4a4a;
    }

    &__logo {
      align-self: center;

      &-descr {
        margin-top: 0;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0%;
      }
    }
  }
}
